# SBT
target/
project/target/
project/project/

# IDE
.idea/
.bsp/
.metals/
.vscode/

# OS
.DS_Store
Thumbs.db

# Compiled
*.class
*.jar
*.log

# Documents ignorés
docs/schema-reseau-petri.md
docs/reseaux-de-petri-debutant.md
